<div class="panel panel-default">
  <div class="panel-heading text-left" style="padding-top: 1px; padding-bottom: 0;"><h4>Main Menu</h4></div>
  <div class="panel-body" style="padding-top: 3px">
    <div class="row">
      <div class="col-sm-3">
        <h4>Kraft</h4>
        <div class="btn-group-vertical" style="width: 100%">
          <button type="button" routerLink="/k-domestic" class="btn btn-primary btn-block">Domestic</button>
          <button type="button" routerLink="/k-export" class="btn btn-primary btn-block">Export</button>
        </div>
      </div>
      <div class="col-sm-3">
        <h4>Paper Board</h4>
        <div class="btn-group-vertical" style="width: 100%">
          <button type="button" routerLink="/p-duplex" class="btn btn-primary btn-block">Duplex</button>
          <button type="button" routerLink="/p-pbl" class="btn btn-primary btn-block">PBL</button>
        </div>
      </div>
      <div class="col-sm-3">
        <h4>TCP Thamuang</h4>
        <div class="btn-group-vertical" style="width: 100%">
          <button type="button" routerLink="/tcp-th/domestic" class="btn btn-primary btn-block">Domestic</button>
          <button type="button" routerLink="/tcp-th/export" class="btn btn-primary btn-block">Export</button>
        </div>
      </div>
      <div class="col-sm-3">
        <h4>TCP Prachin Buri</h4>
        <div class="btn-group-vertical" style="width: 100%">
          <button type="button" routerLink="/tcp-pb/domestic" class="btn btn-primary btn-block">Domestic</button>
          <button type="button" routerLink="/tcp-pb/export" class="btn btn-primary btn-block">Export</button>
        </div>
      </div>
    </div>
  </div>
</div>
