<div class="panel panel-default">
  <div class="panel-heading" style="padding-top: 1px; padding-bottom: 0;">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="text-left">Paperboard PBL</h4>
      </div>
    </div>
  </div>
  <div class="panel-body" style="padding-top: 3px">
    <div class="row">
      <form>
        <!--Domestic-->
        <div class="col-sm-4">
          <h4>Domestic</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="pd1" name="radios">
            <label class="btn btn-info" for="pd1" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

            <input type="radio" id="pd2" name="radios">
            <label class="btn btn-info" for="pd2">3 - 4 months</label>

            <input type="radio" id="pd3" name="radios">
            <label class="btn btn-info" for="pd3">5 - 6 months</label>

            <input type="radio" id="pd4" name="radios">
            <label class="btn btn-info" for="pd4">7 - 12 months</label>

            <input type="radio" id="pd5" name="radios">
            <label class="btn btn-info" for="pd5">Dead Stock</label>
          </div>
          <button type="button" class="btn btn-success btn-group-justified" style="margin-top: 10px;">Report by Grade</button>
        </div>
        <!--Export-->
        <div class="col-sm-4">
          <h4>Export</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="px1" name="radios">
            <label class="btn btn-info" for="px1" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

            <input type="radio" id="px2" name="radios">
            <label class="btn btn-info" for="px2">3 - 4 months</label>

            <input type="radio" id="px3" name="radios">
            <label class="btn btn-info" for="px3">5 - 6 months</label>

            <input type="radio" id="px4" name="radios">
            <label class="btn btn-info" for="px4">7 - 12 months</label>

            <input type="radio" id="px5" name="radios">
            <label class="btn btn-info" for="px5">Dead Stock</label>
          </div>
          <button type="button" class="btn btn-success btn-group-justified" style="margin-top: 10px;">Report by Grade</button>
        </div>
        <!--Both-->
        <div class="col-sm-4">
          <h4>Domestic & Export</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="pb1" name="radios">
            <label class="btn btn-info" for="pb1" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

            <input type="radio" id="pb2" name="radios">
            <label class="btn btn-info" for="pb2">3 - 4 months</label>

            <input type="radio" id="pb3" name="radios">
            <label class="btn btn-info" for="pb3">5 - 6 months</label>

            <input type="radio" id="pb4" name="radios">
            <label class="btn btn-info" for="pb4">7 - 12 months</label>

            <input type="radio" id="pb5" name="radios">
            <label class="btn btn-info" for="pb5">Dead Stock</label>
          </div>
          <button type="button" class="btn btn-success btn-group-justified" style="margin-top: 10px;">Report by Grade</button>
        </div>
      </form>
    </div>
  </div>
</div>
