<div class="panel panel-default">
  <div class="panel-heading" style="padding-top: 1px; padding-bottom: 0;">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="text-left">Kraft Domestic</h4>
      </div>
      <div class="col-sm-8" style="padding-top: 4px">
        <div class="text-right">
          <button type="button" class="btn btn-sm btn-success">Remain Batch</button>
          <button type="button" class="btn btn-sm btn-success">Report by Industry</button>
          <button type="button" class="btn btn-sm btn-success">Report by Grade</button>
          <button type="button" class="btn btn-sm btn-default">NO FIFO</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body" style="padding-top: 3px">
    <div class="row">
      <form>
        <!--By Age-->
        <div class="col-sm-3">
          <h4>By age</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="kd1" name="radios">
            <label class="btn btn-info" for="kd1" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

            <input type="radio" id="kd2" name="radios">
            <label class="btn btn-info" for="kd2">Non Slow move</label>

            <input type="radio" id="kd3" name="radios">
            <label class="btn btn-info" for="kd3">3 - 4 months</label>

            <input type="radio" id="kd4" name="radios">
            <label class="btn btn-info" for="kd4">5 - 6 months</label>

            <input type="radio" id="kd5" name="radios">
            <label class="btn btn-info" for="kd5">7 - 12 months</label>

            <input type="radio" id="kd6" name="radios">
            <label class="btn btn-info" for="kd6">Dead Stock</label>
          </div>
        </div>
        <!--By industry-->
        <div class="col-sm-3">
          <h4>By industrial</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="kd7" name="radios">
            <label class="btn btn-info" for="kd7" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

            <input type="radio" id="kd8" name="radios">
            <label class="btn btn-info" for="kd8">Core</label>

            <input type="radio" id="kd9" name="radios">
            <label class="btn btn-info" for="kd9">Sack</label>

            <input type="radio" id="kd10" name="radios">
            <label class="btn btn-info" for="kd10">Medium</label>

            <input type="radio" id="kd11" name="radios">
            <label class="btn btn-info" for="kd11">Liner</label>

            <input type="radio" id="kd12" name="radios">
            <label class="btn btn-info" for="kd12">Outsource</label>
          </div>
        </div>
        <!--By type-->
        <div class="col-sm-3">
          <h4>By type</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="kd13" name="radios">
            <label class="btn btn-info" for="kd13" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Standard</label>

            <input type="radio" id="kd14" name="radios">
            <label class="btn btn-info" for="kd14">Non Standard Size</label>

            <input type="radio" id="kd15" name="radios">
            <label class="btn btn-info" for="kd15">Non Standard Products</label>
          </div>
        </div>
        <!--Special papers-->
        <div class="col-sm-3">
          <h4>Special papers</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="kd16" name="radios">
            <label class="btn btn-info" for="kd16" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">MW</label>

            <input type="radio" id="kd17" name="radios">
            <label class="btn btn-info" for="kd17">SK</label>

            <input type="radio" id="kd18" name="radios">
            <label class="btn btn-info" for="kd18">SKE</label>

            <input type="radio" id="kd19" name="radios">
            <label class="btn btn-info" for="kd19">WEK</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--http://viralpatel.net/blogs/css-radio-button-checkbox-background/-->
