<div class="panel panel-default">
  <div class="panel-heading" style="padding-top: 1px; padding-bottom: 0;">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="text-left">TCP Thamuang Domestic</h4>
      </div>
      <div class="col-sm-8" style="padding-top: 4px">
        <div class="text-right">
          <!--<button type="button" class="btn btn-sm btn-success">Report by Industry</button>-->
          <button type="button" class="btn btn-sm btn-success">Report by Grade</button>
          <button type="button" class="btn btn-sm btn-default">NO FIFO</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body" style="padding-top: 3px">
    <div class="row">
      <form>
        <!--By Age-->
        <div class="col-sm-4">
          <h4>By age</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="tcp-th1" name="radios">
            <label class="btn btn-info" for="tcp-th1" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

            <input type="radio" id="tcp-th2" name="radios">
            <label class="btn btn-info" for="tcp-th2">Non Slow move</label>

            <input type="radio" id="tcp-th3" name="radios">
            <label class="btn btn-info" for="tcp-th3">3 - 4 months</label>

            <input type="radio" id="tcp-th4" name="radios">
            <label class="btn btn-info" for="tcp-th4">5 - 6 months</label>

            <input type="radio" id="tcp-th5" name="radios">
            <label class="btn btn-info" for="tcp-th5">7 - 12 months</label>

            <input type="radio" id="tcp-th6" name="radios">
            <label class="btn btn-info" for="tcp-th6">Dead Stock</label>
          </div>
        </div>
        <!--By paper type-->
        <div class="col-sm-4">
          <h4>By paper type</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="tcp-th7" name="radios">
            <label class="btn btn-info" for="tcp-th7" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

            <input type="radio" id="tcp-th8" name="radios">
            <label class="btn btn-info" for="tcp-th8">Medium</label>

            <input type="radio" id="tcp-th9" name="radios">
            <label class="btn btn-info" for="tcp-th9">Liner</label>
          </div>
        </div>
        <!--By type-->
        <div class="col-sm-4">
          <h4>By type</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="tcp-th10" name="radios">
            <label class="btn btn-info" for="tcp-th10" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Standard</label>

            <!--<input type="radio" id="tcp-th11" name="radios">-->
            <!--<label class="btn btn-info" for="tcp-th11">Non Standard Size</label>-->

            <input type="radio" id="tcp-th12" name="radios">
            <label class="btn btn-info" for="tcp-th12">Non Standard Products</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--http://viralpatel.net/blogs/css-radio-button-checkbox-background/-->
