<div class="panel panel-default">
  <div class="panel-heading" style="padding-top: 1px; padding-bottom: 0;">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="text-left">Duplex Domestic & Export</h4>
      </div>
      <div class="col-sm-8" style="padding-top: 4px">
        <div class="text-right">
          <button type="button" class="btn btn-sm btn-success">Report by Grade</button>
          <button type="button" class="btn btn-sm btn-default">NO FIFO</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body" style="padding-top: 3px">
    <div class="row">
      <form>
        <!--By Age-->
        <div class="col-sm-4">
          <h4>By age</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="db1" name="radios">
            <label class="btn btn-info" for="db1" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

            <input type="radio" id="db2" name="radios">
            <label class="btn btn-info" for="db2">1 - 2 months</label>

            <input type="radio" id="db3" name="radios">
            <label class="btn btn-info" for="db3">3 - 4 months</label>

            <input type="radio" id="db4" name="radios">
            <label class="btn btn-info" for="db4">5 - 6 months</label>

            <input type="radio" id="db5" name="radios">
            <label class="btn btn-info" for="db5">7 - 12 months</label>

            <input type="radio" id="db6" name="radios">
            <label class="btn btn-info" for="db6">Dead Stock</label>
          </div>
        </div>
        <!--By industry-->
        <div class="col-sm-4">
          <h4>By industrial</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="db7" name="radios">
            <label class="btn btn-info" for="db7" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

            <input type="radio" id="db8" name="radios">
            <label class="btn btn-info" for="db8">Duplex Ream</label>

            <input type="radio" id="db9" name="radios">
            <label class="btn btn-info" for="db9">Duplex Roll</label>
          </div>
        </div>
        <!--By type-->
        <div class="col-sm-4">
          <h4>By type</h4>
          <div class="btn-group-vertical" style="width: 100%">

            <input type="radio" id="db10" name="radios">
            <label class="btn btn-info" for="db10" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Standard</label>

            <input type="radio" id="db11" name="radios">
            <label class="btn btn-info" for="db11">Non Standard</label>

            <input type="radio" id="db12" name="radios">
            <label class="btn btn-info" for="db12">Remainder Roll</label>

            <input type="radio" id="db13" name="radios">
            <label class="btn btn-info" for="db13">Duplex Ream No PO</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
