<div class="panel panel-default">
  <div class="panel-heading" style="padding-top: 1px; padding-bottom: 0;">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="text-left">Kraft Export</h4>
      </div>
      <div class="col-sm-8" style="padding-top: 4px">
        <div class="text-right">
          <button type="button" class="btn btn-sm btn-success">Report by Type</button>
          <button type="button" class="btn btn-sm btn-success">Report by Grade</button>
          <button type="button" class="btn btn-sm btn-default">NO FIFO</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body" style="padding-top: 3px">
    <div class="row" style="margin: auto">
      <form>
        <div class="col-sm-3"></div>
        <!--Non storage p-->
        <div class="col-sm-3">
          <h4>Non storage p</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="kx1" name="radios">
            <label class="btn btn-info" for="kx1" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

            <input type="radio" id="kx2" name="radios">
            <label class="btn btn-info" for="kx2">3 - 4 months</label>

            <input type="radio" id="kx3" name="radios">
            <label class="btn btn-info" for="kx3">5 - 6 months</label>

            <input type="radio" id="kx4" name="radios">
            <label class="btn btn-info" for="kx4">7 - 12 months</label>

            <input type="radio" id="kx5" name="radios">
            <label class="btn btn-info" for="kx5">Dead Stock</label>
          </div>
        </div>
        <!--Storage p-->
        <div class="col-sm-3">
          <h4>Storage p</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="kx6" name="radios">
            <label class="btn btn-info" for="kx6" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

            <input type="radio" id="kx7" name="radios">
            <label class="btn btn-info" for="kx7">3 - 4 months</label>

            <input type="radio" id="kx8" name="radios">
            <label class="btn btn-info" for="kx8">5 - 6 months</label>

            <input type="radio" id="kx9" name="radios">
            <label class="btn btn-info" for="kx9">7 - 12 months</label>

            <input type="radio" id="kx10" name="radios">
            <label class="btn btn-info" for="kx10">Dead Stock</label>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </form>
    </div>
  </div>
</div>

<!--http://viralpatel.net/blogs/css-radio-button-checkbox-background/-->
