<div class="panel panel-default">
  <div class="panel-heading" style="padding-top: 1px; padding-bottom: 0;">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="text-left">Duplex Export</h4>
      </div>
      <div class="col-sm-8" style="padding-top: 4px">
        <div class="text-right">
          <button type="button" class="btn btn-sm btn-success">Report by Grade</button>
          <button type="button" class="btn btn-sm btn-default">NO FIFO</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body" style="padding-top: 3px">
    <div class="row">
      <form>
        <!--By Age-->
        <div class="col-sm-4">
          <h4>By age</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="dx1" name="radios">
            <label class="btn btn-info" for="dx1" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

            <input type="radio" id="dx2" name="radios">
            <label class="btn btn-info" for="dx2">1 - 2 months</label>

            <input type="radio" id="dx3" name="radios">
            <label class="btn btn-info" for="dx3">3 - 4 months</label>

            <input type="radio" id="dx4" name="radios">
            <label class="btn btn-info" for="dx4">5 - 6 months</label>

            <input type="radio" id="dx5" name="radios">
            <label class="btn btn-info" for="dx5">7 - 12 months</label>

            <input type="radio" id="dx6" name="radios">
            <label class="btn btn-info" for="dx6">Dead Stock</label>
          </div>
        </div>
        <!--By industry-->
        <div class="col-sm-4">
          <h4>By industrial</h4>
          <div class="btn-group-vertical" style="width: 100%">
            <input type="radio" id="dx7" name="radios">
            <label class="btn btn-info" for="dx7" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Show all</label>

            <input type="radio" id="dx8" name="radios">
            <label class="btn btn-info" for="dx8">Duplex Ream</label>

            <input type="radio" id="dx9" name="radios">
            <label class="btn btn-info" for="dx9">Duplex Roll</label>
          </div>
        </div>
        <!--By type-->
        <div class="col-sm-4">
          <h4>By type</h4>
          <div class="btn-group-vertical" style="width: 100%">

            <input type="radio" id="dx10" name="radios">
            <label class="btn btn-info" for="dx10" style="border-top-left-radius: 4px;border-top-right-radius: 4px;">Standard</label>

            <input type="radio" id="dx11" name="radios">
            <label class="btn btn-info" for="dx11">Non Standard</label>

            <input type="radio" id="dx12" name="radios">
            <label class="btn btn-info" for="dx12">Remainder Roll</label>

            <input type="radio" id="dx13" name="radios">
            <label class="btn btn-info" for="dx13">Duplex Ream No PO</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
